name: Build and run tests

on:
  push:
    branches: [ main, rc/*, feat/*, dev]
  pull_request:
    branches: [ main, feat/*, rc/*, dev]
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.23.6]
        os: [ubuntu-latest, macos-13]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Test (Linux)
      if: runner.os == 'Linux'
      run: | 
        make test

    - name: Test (MacOS ARM64)
      if: runner.os == 'macOS'
      run: | 
        make test-w2

